body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.total-label {
  font-weight: bold;
}

.row-title {
  margin-bottom: 5px;
  font-size: 2em;
}

.item-detail {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1em;
}

.iconButton { /* stylelint-disable */
  text-align: center;
  cursor: pointer;
}

a.row:nth-child(even){
  background-color: #d1f2ff;
}

a.row:nth-child(odd){
  background-color: #a1e1f5;
}

.amount-field {
  width: 50px;
}

.errorMsg {
    background-color: #a20000;
    color: #fff;
    margin-bottom: 15px;
    padding: 10px;
}

ul.noDots {
  list-style-type: none;
}
